<!--<h1>TransTech Lab</h1>
<div class="container">
     First Featurette 
    <div class="row featurette">
        <div class="col-md-12">
            <h2 class="featurette-heading"><strong>About Us</strong></h2>
            <p>Welcome to the TransTech Lab, where innovation and transportation intersect. Out journey began in 2004, when we became an integral part of the Texas Tech Center for Multidisciplinary Research in Transportation (TechMRT). Since then, we’ve been at the forefront of cutting-edge technology, with a focus on revolutionizing traffic safety and traffic operation using emerging roadside LiDAR technology. 
            </p>
            <p>Our mission extends beyond the lab’s walls, as we actively engage in a multitude of real-world projects. From optimizing traffic signal timings and coordination to data-driven traffic safety initiatives, and the development of microscopic simulation models for in-depth traffic impact analysis, we’re constantly striving to improve the world of transportation. </p>
            <p>Our commitment to nurturing the future of transportation truly sets us apart. Students play a pivotal role in our work, collaborating closely with out team to gain valuable real-world experience. Together, we’re addressing the existing challenges tin the field, making a tangible impact on the way we move and connect. Join us on this exciting journey where innovation meets the transportation, and together, we’ll pave the safer, more efficient future.
            </p>
        </div>
    
    </div>
    <section class="funding">
        <h3>Funding Support</h3>
        <div class="logos d-flex justify-content-center flex-wrap">
            <a href="https://www.txdot.gov/">
            <img src="assets/txdotlogo.png" alt="Txdot Logo" class="img-fluid"> 
            </a>
            <a href="https://www.utc.edu">
            <img src="assets/UTC_Logo.jpg" alt="UTC Logo" class="img-fluid">
            </a>
            <a href="https://www.sptc.org/">
            <img src="assets/SPTC_Logo.edit.jpg" alt="SPTC Logo" class="img-fluid">
            </a>
        </div>
    </section>
</div> -->
