<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<div class="container">
<div id="top" class="alumni-content">
<h3>Alumnus</h3>
<ul>
    <li>Yibin Zhang, Ph.D, 2023;
        <a href="https://www.linkedin.com/in/yibin-zhang-1542341ab/" target="_blank" class="linkedin-icon">
            <i class=" fab fa-linkedin"></i>
        </a>
        
    </li>
    <li>Nischal Bhattarai, Ph.D, 2023
        <a href="http://linkedin.com/in/nisbhatt" target="_blank" class="linkedin-icon">
            <i class="fab fa-linkedin"></i>
        </a>
    </li>
    <li>Mitu Mahfuza, Masters, 2023 
        <a href="https://www.linkedin.com/in/mahfuza-mitu-814b29214/" target="_blank" class="linkedin-icon">
            <i class="fab fa-linkedin"></i>
        </a></li>
    <li>Laxmi Prasanna Vemula, Masters, 2024</li>
    <li>Junxuan Zhao, Ph.D, 2019;<br>
        Now as Postdoctoral research associate at the University of Tennessee at Chattanooga</li>
    <li>Dayong Wu, Ph.D, 2016; Post-Doc, 2019; <br>Now as Associate Research Scientist at Texas A&M Institute</li>
    <li>Ciyun Lin, Visiting scholar, 2018;<br> Now employed as Associate Professor at Jilin University</li>
    <li>Bowen Gong, Visiting scholar, 2018;<br> Now employed as Associate Professor at Jilin University</li>
    <li>Bo Pang, Ph.D, 2017;<br> Now at Maldonado-Burkett, LLP, Dallas</li>
    <li>Ariel Castillo, M.S., 2017;<br> Now at TxDOT</li>
    <li>Xiaodong Zang, Visiting scholar, 2017;<br> Now employed as professor at Guangzhou Unversity</li>
    <li>Hao Zhang, Visiting student, 2017; <br>Now as Ph.D student at China Unversity of Geosciences, Wuhan</li>
    <li>Dexin Yu, Visiting scholar, 2016;<br> Now employed as professor at Jilin Unversity</li>
    <li>Wesley J. Kumfer, Ph.D., 2015;<br> Now as Researcher at University of North Carolina at Chapel Hill</li>
    <li>Daniel Eshue, Bachelor, 2015,<br> Now at CH2MHill</li>
    <li>Julio Alvarez Hernandez, Master, 2015,<br> Now at Transport for London</li>
    <li>Dali Wei, Ph.D, 2014,<br> Now at Airbnb</li>
    <li>Chad Ostrander, Master, 2014;<br> Now at Brown and Gay, Dallas, Texas</li>
    <li>Changwei Yuan, Visiting scholar, 2013;<br> Now employed as professor at Chang'an Unversity</li>
    <li>Hao Xu, Ph.D, 2011; Post-Doc, 2013;<br> Now employed as Associate Professor at University of Nevada, Reno</li>
    <li>Jared Squyres, Master, 2012;<br> Now at Parkhill, Smith & Cooper, Inc., Dallas, Texas</li>
    <li>Meron Shiferaw, Master, 2012;<br> Now at Savant Group, Inc., Midland, Texas</li>
    <li>Henok Tezera, Master, 2011;<br> Now at Kimley-Horn and Associates, Inc., Dallas, Texas</li>
    <li>Huaxin Gong, Ph.D, 2010;<br> Now as a private investor</li>
    <li>Rhett Dollins, Master, 2010;<br> Now as a project manager at Pogue Engineering & Development Company, Inc.</li>
    <li>Sai Bhargavi Chintaluri, Master, 2009</li>
    <li>Trey Dawson, Master, 2009</li>
    <li>Taylor Perrine, Master, 2009</li>
    <li>David Bragg, Master, 2009</li>
    <li>Godse Adinath, Master, 2008</li>
    <li>Evuri Pavan Reddy, Master, 2008</li>
    <li>Shuaiyu Chen, Ph.D, 2007,<br> Now at Walter P. Moore and Associates, Inc., Houston, Texas</li>
    <li>Jie (Jack) Zhang, Master, 2007;<br> Now: KBR Inc., Dallas, Texas</li>
    <li>Debakanta Mishra, Master, 2006;<br> Now: PhD program, University of Illinois at Urbana-Champaign</li>
    <li>Jenna Mccracken, Master, 2006</li>
    <li>Jennifer Ward, Master, 2006</li>
    <li>Joseph Joo, Master, 2006</li>
</ul>
</div>
</div>
