<div class="container">
 <h1>Overview</h1>
  <p>TransTech Lab research involves studies in traffic operation and control, traffic modeling, data analytics, and using conventional and cutting-edge detection and sensing technologies to improve the efficiency of existing highway systems. Recent research has been primarily focused on fundamental and advanced topics related to using LiDAR sensors at infrastructure to provide real-time detection of all road users and actively include vulnerable users such as pedestrians and bicyclists into the connected and automated environment.</p>
   <br>
   <br>
   <div class="container-fluid">

    <!-- First Featurette -->
    <div class="row featurette">
      <div class="col-md-5">
        <!-- Replace this img tag with an iframe for your YouTube video -->
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/D8zj4eIC9-g?si=pyEJvnIviUnGGV4-" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="col-md-7">
        <h3 class="featurette-heading">Signal Timing</h3>
        <p>Using Synchro software, the roadway network at the intersection of FM 1187 and I-20 was modeled to analyze and optimize signal timing during the morning peak hours. Synchro provides a user-friendly interface that allows for the replication of road geometry, definition of signal phasing, and input of traffic data. With its simulation capabilities, we could assess various performance measures such as queue lengths, delays, and level of service.</p>
        <br>
      </div>
    </div>

    <hr class="featurette-divider"> <!-- Divider line between the featurettes -->

    <!-- Second Featurette -->
    <div class="row featurette">
      <div class="col-md-5">
        <!-- Replace this img tag with an iframe for your YouTube video -->
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/tEbLLfGUMzk?si=Sltr_sTaWoterR-f" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-7">
        <h3 class="featurette-heading">Microscopic Simulation</h3>
        <p>This microscopic simulation model was developed using PTV Vissim to analyze the traffic impacts of converting a major interchange in Lubbock to a roundabout. </p>
      </div>
    </div>

    <hr class="featurette-divider"> <!-- Divider line between the featurettes -->

    <!-- Third Featurette -->
    <div class="row featurette">
      <div class="col-md-5">
        <!-- Replace this img tag with an iframe for your YouTube video -->
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/9bGlliFcDwo" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-7">
        <h3 class="featurette-heading">LiDAR Related Research</h3>
        <p>Check our paper Detection and Tracking of Pedestrians and Vehicles using Roadside LiDAR Sensors (Transportation Research Part C 100, 2019, 68-87. Web of Science highly cited paper) for how to detect and track both vehicles and pedestrians using infrastructure-based or roadside LiDAR.</p>
      </div>
    </div>
  
    <hr class="featurette-divider"> <!-- Divider line between the featurettes -->
  
    <!-- Fourth Featurette -->
    <div class="row featurette">
      <div class="col-md-5">
        <!-- Replace this img tag with an iframe for your YouTube video -->
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/UDBh9jfpMeM" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-7">
        <h3 class="featurette-heading">Crash Quick Report App</h3>
        <p>This crash quick report app is designed to help people to report the basic crash information ( photos, accurate location, and related information) at the accident scene by smartphones or tablets. Those information will benefit for police to record and deal with crashes.</p>
      </div>
    </div>

    <hr class="featurette-divider"> <!-- Divider line between the featurettes -->
  
    <!-- Fifth Featurette -->
    <div class="row featurette">
      <div class="col-md-5">
        <!-- Replace this img tag with an iframe for your YouTube video -->
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/gBkj29-Yhrc" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-7">
        <h3 class="featurette-heading">Web-Based GIS Routing Assistance Tool</h3>
        <p>This web-based routing tool is based on the ArcGIS Web AppBuilder (WAB), JavaScript, and HTML5/CSS3. Its main function includes an open code software structure, a routing model providing route information based on the inputs of vehicle type, pavement condition, and the construction information.</p>
      </div>
    </div>

    <hr class="featurette-divider"> <!-- Divider line between the featurettes -->
  
    <!--  Sixth Featurette -->
    <div class="row featurette">
      <div class="col-md-5">
        <!-- Replace this img tag with an iframe for your YouTube video -->
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/qzoYBX1W-Mo" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-7">
        <h3 class="featurette-heading">Web-Based Bus Information</h3>
        <p>TransTech Lab's Web-Public Transit Information System (W-PTIS) is an internet based bus information system that brings online bus information to the campus routes of Citibus. The basic function of W-PTIS is to provide real-time information to Tech students about the position of buses and their predicted arrival time to the stations. The extended functions will include an interactive on-line riding guidance system that helps students find the best bus route from any origin to any destination in Tech camps, and an extension to selected off-campus routes. The information is then made available on the World Wide Web and to wireless devices including internet capable cell phones, Palm Pilots, and other Personal Digital Assistants (PDAs).</p>
      </div>
    </div>

  </div>
</div>
