<div class="container">
  <div class="content-container">
    <div class="prof-info">
      <h2>Dr. Hongchao Liu
        <a href=" https://www.linkedin.com/in/hongchao-liu-a8007a158/" target="_blank" class="linkedin-icon">
          <i class="fab fa-linkedin"></i>
        </a>
      </h2>
      <p>Dr. Hongchao Liu is a professor at the Department of Civil, Environmental and Construction Engineering of Texas Tech University. Prior to joining Texas Tech University in 2004, he spent three years working as a postdoctoral researcher at the Institute of Transportation Studies at the University of California, Berkeley.</p>
      <p>Dr. Liu’s recent research has been primarily focused on using advanced sensing technologies(LiDAR, Drone) to enhance the efficiency of existing highway systems in terms of reducing congestion and improving safety. He is pioneering in introducing LiDAR technology to infrastructure-based detection and cooperative driving automation. His group and the partners at the University of Nevada, Reno have been designing and testing the concept of an all-user-in-the-loop system through connected roadside detection and communication with connected and autonomous vehicles. A major focus of current research is developing enabling data modeling and analytic tools, particularly, artificial intelligence and machine learning methods for accurate processing of infrastructure-based high-resolution data with enhanced computational efficiency for real-time applications.</p>
      <a href="assets/Hongchao_Liu_CV.pdf" target="_blank">
        <span style="font-style: italic; color: red;">Curriculum Vitae</span>
      </a>
    </div>
    <div class="prof-photo">
      <img src="assets/Professorup1.jpg" alt="Dr. Liu" style="width: 200px; height: 250px; border: 1px solid #ccc;">
    </div>
  </div>
</div>
