<div class="container">
    <h2>UnderGrad Researchers</h2>
    <div class="content-container">
        <div class="ugstudent">
            <div class="ugstudent-info">
                <h4>Austin Bolden</h4>
                <p><strong>Research Topic: </strong>Calibration of traffic simulation models using LiDAR data for the development of proactive traffic safety analysis.</p>
            </div>
            <div class="ugstudent-photo" style="background-image: url('assets/Austin_Bolden.jpg')"></div>
        </div>
        <!-- if you want to add other students add here-->
    </div>
</div>        