<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<div class="container">
<h2>Master Students</h2>
<p>Welcome to the Masters page. Here you can find information about the current Masters students, their research projects, and more.</p>
 <div class="content-container">
    <!--<div class="mstudent">
    <div class="mstudent-info">
        <h4>Laxmi Prasanna Vemula
            <a href=" https://www.linkedin.com/in/prasu7" target="_blank" class="linkedin-icon">
            <i class="fab fa-linkedin"></i>
        </a></h4>
        <p>Masters in Computer Science </p>
    </div>
    <div class="ms-photo" style="background-image: url('assets/Prasanna_photo.jpeg')">
    </div> -->
  </div>
  </div>
  

