<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<div class="container">
<h2>Graduate Researchers</h2>
<div class="content-container">
    <!-- Tamer Bataineh -->
    <div class="student">
        <div class="student-info">
            <h3>Tamer Bataineh<a href=" https://www.linkedin.com/in/tbataineh/" target="_blank" class="linkedin-icon">
                <i class="fab fa-linkedin"></i>
            </a></h3>
            <p><strong>Research Topic: </strong> Dilemma Zone Analysis with Rear-End Crashes Using LiDAR Data.</p>
        </div>
        <div class="student-photo" style="background-image: url('assets/Tamer.JPG')"></div>
    </div>

    <!-- Morris Igene -->
    <div class="student">
        <div class="student-info">
            <h3>Morris Igene
                <a href="https://www.linkedin.com/in/morris-igene-ab7182121/" target="_blank" class="linkedin-icon">
                    <i class="fab fa-linkedin"></i>
            </a></h3>
            <p><strong>Research Topic: </strong> Calibration of microscopic simulation model using LiDAR trajectory data.</p>
        </div>
        <div class="student-photo" style="background-image: url('assets/Morris_Igene.jpg')"></div>
    </div>
    <!-- Mohammad Soltanirad-->
    <div class="student">
      <div class="student-info">
          <h3>Mohammad Soltanirad<a href="https://www.linkedin.com/in/mohammadsoltanirad/" target="_blank" class="linkedin-icon">
                <i class="fab fa-linkedin"></i>
            </a>
          </h3>
          <p><strong>Research Topic: </strong>Surrogate Safety Measures (SSMs) in traffic safety analysis using LiDAR-based vehicle trajectory data, Traffic Safety, Traffic Operation and Control, Intelligent Transportation Systems, and Big Data Analytics.</p>
      </div>
      <div class="student-photo" style="background-image: url('assets/Mohammad_S.jpg')"></div>
  </div>
</div>
    <!-- Qiyang Luo-->
    <div class="student">
        <div class="student-info">
            <h3>Qiyang Luo
                <a href="https://www.linkedin.com/in/qiyang-luo-1581a1200/" target="_blank" class="linkedin-icon">
                    <i class="fab fa-linkedin"></i>
                </a>
            </h3>
            <p><strong>Research Topic: </strong> Intelligent transportation systems, trajectory extraction based on LiDAR data, and vehicle emission estimation.</p>
        </div>
        <div class="student-photo" style="background-image: url('assets/Qiyang_Luo.JPG')"></div>
    </div>
     <!-- Jimee Keshav -->
     <div class="student">
        <div class="student-info">
            <h3>Keshav Jimee
                <a href="https://www.linkedin.com/in/keshavjimee/" target="_blank" class="linkedin-icon">
                    <i class="fab fa-linkedin"></i>
                </a>
            </h3>
            <p><strong>Research Topic/Interest: </strong>Traffic Safety Analysis, Traffic Engineering, Highway Design,  GIS in Transportation.</p>
        </div>
            <div class="student-photo" style="background-image: url('assets/Jimee_Keshav.jpg')"></div>
    
    </div>
    


</div>